@font-face {
    font-family: "SharpSans-Bold";
    src: url(./fonts/SharpSansDispNo1-Bold.ttf);
}

@font-face {
    font-family: "SharpSans-Medium";
    src: url(./fonts/SharpSansDispNo1-Medium.ttf);
}

body {
    font-family: "SharpSans-Medium", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.25px;
    background-color: #F1EDE1;
    color: #1c1c1c; 
    margin: 0 0 0 30%;
} 

section.logo {
    position: fixed;
    top: 0;
    left: 40px;
    width: 25%;
    height: 100%;
    background-image: url(./assets/xicboa_logo.svg);
    background-repeat: no-repeat;
    background-position: center;
}

main {
    padding: 80px;
    margin-top: 25%;
    max-width: 100%;
    margin: 0 auto 0 auto;
}

.siteHeader {
    font-size: 32px;
    display: flex;
    justify-content: space-between;
    line-height: 4em;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-family: "SharpSans-Bold";
    border-bottom: 0.5px solid #1c1c1c;
}

section.grid {
    display: grid;
    margin: 60px 0px 60px 0px;
    grid-gap: 80px 120px;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

/* section.grid img {
    width: 100%;  
    max-width: 600px;  
}*/

section.grid:only-child {
    justify-content: flex-end;
}


div.title {
    display: flex;
    justify-content: space-between;
    margin: 48px 0px 48px 0px;
    font-size: 32px;
}

h2 {
    font-family: "SharpSans-Bold";
}

h2:before {
  content: "";
  display: inline-block;
  height: 0.7em;
  width: 0.7em;
  border-radius: 50%;
  background-color: #1c1c1c;
  margin-right: 0.4em;
  transition: transform 0.4s 0.5s;
  transform: scale(0);
}


h2.in-view:before {
    transform: scale(1);;
}

p.description {
    line-height: 1.5;
    font-size: 24px;
}


div.image {
    overflow: hidden;
}

div.image img {
    transform: translate(0,120%);
    transition: transform 1s;
}



div.image.in-view img {
    transform: translate(0,0%);
}

footer {
    border-top: 0.5px solid #1c1c1c;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}

footer > p {
    margin: 32px 0px 32px 0px;
}


.switch-leave-active,
.switch-enter-active,
.switch-leave-active,
.switch-enter-active {
  transition: opacity 450ms ease, transform 650ms ease-in-out;
}

.switch-leave,
.switch-enter-to {
  opacity: 1;
}

.switch-enter,
.switch-leave-to {
  opacity: 0;
}

.switch-leave,
.switch-enter-to {
  transform: translateX(0);
}

.switch-enter,
.switch-leave-to {
  transform: translateX(100%);
}

.hidden {
    display: none;
}

#filter button {
    text-align: center;
    display: inline-block;
    padding: 15px 40px;
    cursor: pointer;
    letter-spacing: 2px;
    position:relative;
    overflow:hidden;
    margin: 0 20px;
    text-transform: uppercase;
    font-family: "SharpSans-Medium", Arial, Helvetica, sans-serif;
    font-size: 18px;
    border-style: none;
    background-color: #F1EDE1;
  }
  
  #filter button:before {
    content: "";
    position: absolute;
    width: 0;
    background : #1c1c1c;
    left: 45%;
    height: 1px;
    bottom: 0;
    transition: all .3s;
    opacity: 0.7;
  }
  
  #filter button:hover:before {
    width: 100%;
    left:0;
}


@media (max-width: 640px) {
    body {
        font-size: 12px; 
    }
    h1 {
        font-size: 16px;
    }
    section.grid {
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    }
}
